################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/riotoffsec.github.io/FileContentIndex/023adb37-b869-48f4-a730-d74e7addde5c.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/08123c3d-f15d-4686-8a6c-1e12c2ea144a.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/459fc43f-84e7-4b8b-a51d-3c8e0c36d848.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/4ea87ba3-c361-46ce-b1a3-04f7678a3658.vsidx
/.vs/riotoffsec.github.io/v17/.wsuo
/.vs/slnx.sqlite
*.vsidx
