################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/riotoffsec.github.io/FileContentIndex/023adb37-b869-48f4-a730-d74e7addde5c.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/03753abb-96b2-46dd-ba4a-b4fda59ec3e2.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/08123c3d-f15d-4686-8a6c-1e12c2ea144a.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/0c2bf0e0-b424-430f-a9b5-f0107f5cbf8a.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/f34854fb-5c2c-46ae-85f1-f61fd0b1fdda.vsidx
/.vs/riotoffsec.github.io/v17/.wsuo
/.vs/riotoffsec.github.io/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/riotoffsec.github.io/FileContentIndex/786305d9-7d7f-4f33-903d-b10912aacf32.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/1a4f99b0-3697-4849-8f58-5d741065c85f.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/51eff9d9-f140-4b83-a4ae-db5defca903e.vsidx
/.vs/riotoffsec.github.io/FileContentIndex/d838f1a7-20fc-4e6e-b461-fdbe7366ffeb.vsidx
