/* Navigation */
nav {list-style-type: none; position: fixed; flex-wrap: nowrap; top: 0; left: 0; right:0; overflow: hidden; border-bottom: 3px solid #753030; background-color: #2b2222; margin-top: -20px; padding-bottom: 10px;}

/* Navbar links */

nav h1 {margin-right: auto; font-size: 30px; font-weight: 1500; display: block; color: #c0afa1;}

.menu { display: flex; flex-direction: row; justify-content: center; margin-top: -60px; }

.menu a {padding: 10px; color: #c0afa1; font-size: 30px; font-weight: 1000; text-decoration: none;}

.menu a:hover {background-color: #5e4265; color: #c0afa1;} 



/* NavClosed */


/* Text */

body { background-color: #2b2222; min-height: 200vh;  padding-top: 90px;}

main { justify-content: center; align-items: center; }

p.round2 { display: block; text-align: center; font-size: 20px; color: #c0afa1; border: 3px solid #753030; border-radius: 12px; width: 500px;  margin: auto; padding: 5px; background-color: #5e4265;}

/* TextClosed */

/* Footer */

/* I will deal with this footer later */
footer { display: flex; height: 4vh; position: fixed; left: 0; right: 0; bottom: 0; justify-content: center; align-items: center; background-color: #753030 }

.since { color: #c0afa1; }

.sincelink { padding-left: 25px; color: #c0afa1; }
    
.sincelink a{ color: #c0afa1; }

.sincelink a:hover { color: #5e4265; }

/* Footer Closed */

/*color pallette*/
/*#2b2222 Dark brick brown*/
/*#753030 Coral Red*/
/*#4e2a38*/
/*#5e4265 Purpleish*/
/*c0afa1 Creamy White*/
/*#ad090e Bright Red*/
