/* Navigation */
nav {list-style-type: none; text-align: center; overflow: hidden; border-bottom: 2px solid red; background-color: #000000;}

/* Navbar links */
nav h1 { float: left; display: inline-block; color: #FFFFFF;}
 
nav li { float: center; display: inline-block; padding: 20px;}

nav a { color: #B71C1C; text-decoration: none;}

nav a:hover {background-color: #BDBDBD; color: #FFFFFF;} 

/* NavClosed */

body {background-color: #e6e6e6;}

/* Text */

p { text-align: center; color: #FFFFFF;}

/* TextClosed */

/*color pallette*/
/*#e6e6e6*/
/*#753030*/
/*#4e2a38*/
/*#5e4265*/
/*c0afa1*/
/*#ad090e*/
