/* Navigation */
nav {list-style-type: none; position: fixed; top: 0; left: 0; right:0; text-align: center; overflow: hidden; border-bottom: 2px solid #753030; background-color: #2b2222;}

/* Navbar links */
nav h1 { float: left; padding-left: 10px; font-size: 30px; font-weight: 1500; display: inline-block; color: #c0afa1;}
 
nav li { float: center; display: inline-block; padding: 10px; padding-top: 25px; }

nav a { color: #c0afa1; font-size: 30px; font-weight: 1000; text-decoration: none;}

nav a:hover {background-color: #5e4265; color: #c0afa1;} 

/* NavClosed */

body {background-color: #2b2222;}

/* Text */

p { padding-top: 250px; text-align: center; color: #c0afa1;}

/* TextClosed */

/* Footer */

/* I will deal with this footer later */
footer { position: fixed; height: 15px; bottom: 0; left: 0; right: 0; background-color: #753030; }

footer p { text-align: center; color: #ad090e; }
    
footer a { text-align: left; color: #ad090e;}

/* Footer Closed */

/*color pallette*/
/*#2b2222*/
/*#753030*/
/*#4e2a38*/
/*#5e4265*/
/*c0afa1*/
/*#ad090e*/
